<footer class="footer">
  <section class="footer__credits">
    <span>
      <a
        href="https://github.com/syukurm/my-frontend-mentor-solutions/blob/main/LICENSE"
        class="footer__link"
      >
        MIT License
      </a> © 2023
      <a
        href="https://github.com/syukurm"
        class="footer__link"
        >Syukur M.</a
      >
    </span>
    <span>
      Powered by <a
        href="https://astro.build"
        class="footer__link"
        >Astro</a
      >
    </span>
  </section>
</footer>
