<header class="header">
  <nav class="nav">
    <div class="nav__logo">
      <a
        href="/"
        class="nav__logo-link"
      >
        My Frontend Mentor Solutions
      </a>
    </div>
    <ul class="nav__list">
      <li class="nav__item">
        <a
          href="https://github.com/syukurm/my-frontend-mentor-solutions"
          class="nav__link"
        >
          Github
        </a>
      </li>
    </ul>
  </nav>
</header>
