{
  "plugins": ["prettier-plugin-astro"],
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "editorconfig": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
